body {background-color: yellow;}

}

h1 {background-color: white;}
.textoverde {color: green;}
p {text-align: justify;}
h3 {text-decoration: underline;}
h4 {text-decoration: underline;}
p {font-size: large;}

header {background-color:#FEE501;

 }

nav {border: 2px black solid ;

}

section {background-color:#FEF601;
         width: 48%;
         float: left;
         margin: 1%;
 }

aside {background-color:#FEF601;
       width: 48%;
       float: left;
       margin: 1%;
 }

footer {background-color:white;
        clear: both;

 }
